<div class="container">
  <h1 class="title">{{'marathon.settings.title' | translate}}</h1>
  <h2 class="subtitle">{{'marathon.settings.description' | translate}}</h2>

  <div class="notification is-info has-text-centered" *ngIf="marathonService.isArchived()">
    <i>{{ 'marathon.help.isArchived' | translate}}</i>
  </div>
  <form ngForm="newMarathonForm" (ngSubmit)="submit()" #form="ngForm">
    <div class="field">
      <div class="control">
        <button class="button is-link is-pulled-right"
                type="submit"
                [disabled]="form.invalid || !isWebhookOnline"
                [ngClass]="{'is-loading': loading}">{{'action.submit' | translate}}</button>
      </div>
    </div>
    <div class="is-clearfix"></div>
    <div class="tabs is-centered">
      <ul>
        <li [ngClass]="{'is-active':active==='general'}">
          <a (click)="active = 'general'">{{'marathon.settings.tabs.general' | translate}}</a>
        </li>
        <li [ngClass]="{'is-active':active==='submissions'}">
          <a (click)="active = 'submissions'">{{'marathon.settings.tabs.submissions' | translate}}</a>
        </li>
        <li [ngClass]="{'is-active':active==='incentives'}">
          <a (click)="active = 'incentives'">{{'marathon.settings.tabs.incentives' | translate}}</a>
        </li>
        <li [ngClass]="{'is-active':active==='dangerZone'}" *ngIf="!marathonService.isArchived() ||
        marathonService.isAdmin(userService.user)">
          <a (click)="active = 'dangerZone'">{{'marathon.settings.tabs.dangerZone' | translate}}</a>
        </li>
      </ul>
    </div>
    <div [hidden]="active !== 'general'">
      <fieldset [disabled]="marathonService.isArchived()">
        <h1 class="title">{{'marathon.settings.generalTitle' | translate}}</h1>
        <div class="field">
          <label class="label">{{ 'marathon.settings.name.label' | translate}}</label>
          <div class="control">
            <input class="input"
                   [ngClass]="{'is-danger': name.invalid}"
                   type="text"
                   [(ngModel)]="marathon.name"
                   name="name"
                   maxlength="40"
                   minlength="4"
                   pattern="^[\w\- ]{4,40}$"
                   required
                   #name="ngModel">
            <p class="help is-pulled-right">{{marathon.name?.length}}/40</p>
          </div>
          <div *ngIf="name.invalid">
            <p class="help is-danger"
               *ngIf="name.errors.required">{{'marathon.settings.name.error.required' | translate}}</p>
            <p class="help is-danger"
               *ngIf="name.errors.minlength">{{'marathon.settings.name.error.min' | translate}}</p>
            <p class="help is-danger"
               *ngIf="name.errors.maxlength">{{'marathon.settings.name.error.max' | translate}}</p>
            <p class="help is-danger"
               *ngIf="name.errors.pattern">{{'marathon.settings.name.error.pattern' | translate}}</p>
          </div>
        </div>
        <label class="label">{{ 'marathon.settings.shortname.label' | translate}}</label>
        <div class="field has-addons">
          <div class="control">
            <a class="button is-static">
              {{env.baseSite}}/marathon/
            </a>
          </div>
          <div class="control is-expanded">
            <input class="input"
                   disabled
                   type="text"
                   [(ngModel)]="marathon.id"
                   name="id"
                   maxlength="10"
                   minlength="4"
                   required>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">{{ 'marathon.settings.startDate.label' | translate}}</label>
              <div class="control">
                <input class="input"
                       readonly
                       autocomplete="disabled"
                       [ngClass]="{'is-danger': startDate.invalid}"
                       [owlDateTimeTrigger]="dtStartDate"
                       [owlDateTime]="dtStartDate"
                       [(ngModel)]="marathon.startDate"
                       name="startDate"
                       required
                       #startDate="ngModel">
                <owl-date-time #dtStartDate></owl-date-time>
              </div>
              <div *ngIf="startDate.invalid">
                <p class="help is-danger"
                   *ngIf="startDate.errors.required">{{'marathon.settings.startDate.error.required' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">{{ 'marathon.settings.endDate.label' | translate}}</label>
              <div class="control">
                <input class="input"
                       readonly
                       autocomplete="disabled"
                       [disabled]="marathonService.marathon.scheduleDone"
                       [ngClass]="{'is-danger': endDate.invalid}"
                       [owlDateTimeTrigger]="dtEndDate" [owlDateTime]="dtEndDate"
                       [min]="marathon.startDate"
                       [(ngModel)]="marathon.endDate" name="endDate" required #endDate="ngModel">
                <owl-date-time #dtEndDate></owl-date-time>
              </div>
              <div *ngIf="endDate.invalid">
                <p class="help is-danger"
                   *ngIf="endDate.errors.required">{{'marathon.settings.endDate.error.required' | translate}}</p>
              </div>
              <p class="help" *ngIf="marathonService.hasDstChange()">{{ 'marathon.schedule.dstChange' | translate}}</p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">{{ 'marathon.settings.submissionsStartDate.label' | translate}}</label>
              <div class="control">
                <input class="input"
                       readonly
                       autocomplete="disabled"
                       [disabled]="marathonService.marathon.scheduleDone"
                       [ngClass]="{'is-danger': submissionsStartDate.invalid}"
                       [owlDateTimeTrigger]="dtSubmissionsStartDate"
                       [owlDateTime]="dtSubmissionsStartDate"
                       [(ngModel)]="marathon.submissionsStartDate"
                       [max]="marathon.startDate"
                       name="submissionsStartDate"
                       [required]="!!marathon.submissionsEndDate"
                       #submissionsStartDate="ngModel">
                <owl-date-time #dtSubmissionsStartDate></owl-date-time>
              </div>
              <div *ngIf="submissionsStartDate.invalid">
                <p class="help is-danger"
                   *ngIf="submissionsStartDate.errors.required">{{'marathon.settings.submissionsStartDate.error.required' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">{{ 'marathon.settings.submissionsEndDate.label' | translate}}</label>
              <div class="control">
                <input class="input"
                       readonly
                       autocomplete="disabled"
                       [disabled]="marathonService.marathon.scheduleDone || !marathon.submissionsStartDate"
                       [ngClass]="{'is-danger': submissionsEndDate.invalid}"
                       [owlDateTimeTrigger]="dtSubmissionsEndDate"
                       [owlDateTime]="dtSubmissionsEndDate"
                       [max]="marathon.startDate"
                       [min]="marathon.submissionsStartDate"
                       [(ngModel)]="marathon.submissionsEndDate"
                       name="submissionsEndDate"
                       [required]="!!marathon.submissionsStartDate"
                       #submissionsEndDate="ngModel">
                <owl-date-time #dtSubmissionsEndDate></owl-date-time>
              </div>
              <div *ngIf="submissionsEndDate.invalid">
                <p class="help is-danger"
                   *ngIf="submissionsEndDate.errors.required">{{'marathon.settings.submissionsEndDate.error.required' | translate}}</p>
              </div>
              <p class="help" *ngIf="marathonService.hasDstChange()">{{ 'marathon.schedule.dstChange' | translate}}</p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-one-quarter">
            <div class="field">
              <label class="label">{{ 'marathon.settings.type.label' | translate}}</label>
              <div class="control is-flex">
                <span style="margin-right: 0.5rem">{{ 'marathon.settings.type.online' | translate}}</span>
                <nwb-switch [(ngModel)]="marathon.onsite" name="isOnsite">
                  <span>{{ 'marathon.settings.type.onsite' | translate}}</span>
                </nwb-switch>
              </div>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="field">
              <label class="label">{{ 'marathon.settings.language.label' | translate}}</label>
              <div class="control">
            <span class="select">
              <select [(ngModel)]="marathon.language" name="language">
                <option *ngFor="let language of languages | keyvalue"
                        [value]="language.key">{{language.value.nativeName | titlecase}}</option>
              </select>
            </span>
              </div>
            </div>
          </div>
          <div class="column is-one-quarter" *ngIf="marathon.onsite">
            <div class="field">
              <label class="label">{{ 'marathon.settings.country.label' | translate}}</label>
              <div class="control">
            <span class="select">
              <select [(ngModel)]="marathon.country" name="country">
                <option *ngFor="let country of countries | keyvalue"
                        [value]="country.key">{{country.value | titlecase}}</option>
              </select>
            </span>
              </div>
            </div>
          </div>
          <div class="column is-one-quarter" *ngIf="marathon.onsite">
            <label class="label">{{ 'marathon.settings.location.label' | translate}}</label>
            <div class="field">
              <div class="control">
                <input class="input"
                       [ngClass]="{'is-danger': location.invalid}"
                       type="text"
                       [(ngModel)]="marathon.location"
                       name="location"
                       #location="ngModel">
                <p class="help is-pulled-right">{{marathon.location?.length}}/150</p>
              </div>
            </div>
            <div *ngIf="location.invalid">
            </div>
          </div>
        </div>

      </fieldset>
      <div class="field">
        <label class="label">{{ 'marathon.settings.marathonDescription.label' | translate}}</label>
        <div class="control">
        <textarea class="textarea"
                  [readOnly]="marathonService.isArchived()"
                  rows=10
                  maxlength="5000"
                  [(ngModel)]="marathon.description"
                  name="description"></textarea>
          <p class="help is-pulled-right">{{marathon.description?.length}}/5000</p>
        </div>
        <p class="help">{{ 'marathon.settings.marathonDescription.help' | translate}}</p>
      </div>
      <fieldset [disabled]="marathonService.isArchived()">
        <div class="columns">
          <div class="column">
            <label class="label">Twitch</label>
            <div class="field has-addons">
              <div class="control">
                <a class="button is-static">
                  https://twitch.tv/
                </a>
              </div>
              <div class="control">
                <input class="input"
                       [ngClass]="{'is-danger': twitch.invalid}"
                       type="text"
                       [(ngModel)]="marathon.twitch"
                       name="twitch"
                       maxlength="25"
                       pattern="^(|[a-zA-Z0-9][\w]{2,24})$"
                       #twitch="ngModel">
                <p class="help is-pulled-right">{{marathon.twitch?.length}}/25</p>
              </div>
            </div>
            <div *ngIf="twitch.invalid">
              <p class="help is-danger"
                 *ngIf="twitch.errors.maxlength">{{ 'marathon.settings.twitch.error.max' | translate}}</p>
              <p class="help is-danger"
                 *ngIf="twitch.errors.pattern">{{ 'marathon.settings.twitch.error.pattern' | translate}}</p>
            </div>
          </div>
          <div class="column">
            <label class="label">Twitter</label>
            <div class="field has-addons">
              <div class="control">
                <a class="button is-static">
                  @
                </a>
              </div>
              <div class="control">
                <input class="input"
                       [ngClass]="{'is-danger': twitter.invalid}"
                       type="text"
                       [(ngModel)]="marathon.twitter"
                       name="twitter"
                       maxlength="15"
                       pattern="^(\w){0,15}$"
                       #twitter="ngModel">
                <p class="help is-pulled-right">{{marathon.twitter?.length}}/15</p>
              </div>
            </div>
            <div *ngIf="twitter.invalid">
              <p class="help is-danger"
                 *ngIf="twitter.errors.maxlength">{{ 'marathon.settings.twitter.error.max' | translate}}</p>
              <p class="help is-danger"
                 *ngIf="twitter.errors.pattern">{{ 'marathon.settings.twitter.error.pattern' | translate}}</p>
            </div>
          </div>
          <div class="column">
            <label class="label">Discord</label>
            <div class="field has-addons">
              <div class="control">
                <a class="button is-static">
                  https://discord.gg/
                </a>
              </div>
              <div class="control">
                <input class="input"
                       [ngClass]="{'is-danger': discord.invalid}"
                       type="text"
                       [(ngModel)]="marathon.discord"
                       name="discord"
                       pattern="^(\w)*$"
                       maxlength="20"
                       #discord="ngModel">
                <p class="help is-pulled-right">{{marathon.discord?.length}}/20</p>
              </div>
            </div>
            <div *ngIf="discord.invalid">
              <p class="help is-danger"
                 *ngIf="discord.errors.pattern">{{ 'marathon.settings.discord.error.pattern' | translate}}</p>
            </div>
          </div>
          <div class="column">
            <label class="label">Youtube</label>
            <div class="field">
              <div class="control">
                <input class="input"
                       [ngClass]="{'is-danger': youtube.invalid}"
                       type="text"
                       [(ngModel)]="marathon.youtube"
                       name="youtube"
                       maxlength="100"
                       pattern="^(https?:\/\/)?(www\.)?youtu((\.be)|(be\..{2,5}))\/((user)|(channel)|(c))\/.+$"
                       #youtube="ngModel">
                <p class="help">
                  <span>{{ 'marathon.settings.youtube.help.url' | translate}}</span>
                  <span class="is-pulled-right">{{marathon.youtube?.length}}/100</span>
                </p>
              </div>
              <div *ngIf="youtube.invalid">
                <p class="help is-danger"
                   *ngIf="youtube.errors.pattern">{{ 'marathon.settings.youtube.error.pattern' | translate}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">{{ 'marathon.settings.discordPrivacy.label' | translate}}</label>
              <div class="control">
                <nwb-switch [(ngModel)]="marathon.discordPrivacy" name="discordPrivacy">
                  <span>{{ 'marathon.settings.discordPrivacy.private' | translate}}</span>
                </nwb-switch>
              </div>
            </div>
            <p class="help">{{ 'marathon.settings.discordPrivacy.help' | translate}}</p>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">{{ 'marathon.settings.privacy.label' | translate}}</label>
              <div class="control is-flex">
                <span style="margin-right: 0.5rem">{{ 'marathon.settings.privacy.public' | translate}}</span>
                <nwb-switch [(ngModel)]="marathon.isPrivate" name="isPrivate">
                  <span>{{ 'marathon.settings.privacy.private' | translate}}</span>
                </nwb-switch>
              </div>
            </div>
            <p class="help">{{ 'marathon.settings.privacy.help' | translate}}</p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <table class="table">
              <thead>
              <tr>
                <th>{{ 'marathon.settings.moderators.label' | translate}}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let moderator of marathon.moderators; let i = index">
                <td>{{moderator.username}}
                  <button class="delete is-pulled-right" (click)="removeModerator(i)"
                          *ngIf="userService.user.id !== moderator.id && userService.user.id === marathon.creator.id"></button>
                </td>
              </tr>
              <tr>
                <td>
                  <ng-autocomplete
                    [data]="data"
                    searchKeyword="username"
                    (selected)="onSelectMod($event)"
                    (inputChanged)="onSearchMod($event)"
                    [itemTemplate]="itemTemplate">
                  </ng-autocomplete>
                  <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.username"></a>
                  </ng-template>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">{{'marathon.settings.defaultSetupTime.label' | translate}}</label>
              <input class="input"
                     type="text"
                     [(ngModel)]="marathon.defaultSetupTimeHuman"
                     name="defaultSetupTime"
                     placeholder="HH:MM:SS"
                     [ngClass]="{'is-danger': defaultSetupTime.invalid}"
                     required
                     pattern="^(?:\d{1,3}):(?:[012345]\d):(?:[012345]\d)$"
                     #defaultSetupTime="ngModel">
              <div *ngIf="defaultSetupTime.invalid">
                <p class="help is-danger" *ngIf="defaultSetupTime.errors.required">
                  {{'marathon.settings.defaultSetupTime.error.required' | translate}}</p>
                <p class="help is-danger" *ngIf="defaultSetupTime.errors.pattern">
                  {{'marathon.settings.defaultSetupTime.error.pattern' | translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <fieldset [disabled]="marathonService.isArchived()">
      <div [hidden]="active !== 'submissions'">
        <h1 class="title">{{ 'marathon.settings.submissionsTitle' | translate}}</h1>
        <div class="field">
          <label class="label">{{ 'marathon.settings.submissions.label' | translate}}</label>
          <div class="control is-flex">
            <span style="margin-right: 0.5rem">{{'marathon.settings.submissions.closed' | translate}}</span>
            <nwb-switch [(ngModel)]="marathon.submitsOpen" name="submitsOpen" [disabled]="marathon.selectionDone">
              <span>{{ 'marathon.settings.submissions.open' | translate}}</span>
            </nwb-switch>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <label class="label">{{ 'marathon.settings.maxGamesPerRunner.label' | translate}}</label>
            <div class="field has-addons">
              <div class="control is-expanded">
                <input class="input"
                       [disabled]="marathon.selectionDone || marathon.unlimitedGames"
                       [ngClass]="{'is-danger': maxGamesPerRunner.invalid}"
                       type="number"
                       [(ngModel)]="marathon.maxGamesPerRunner"
                       name="maxGamesPerRunner"
                       appMinNumberValidator="1"
                       required
                       step="1"
                       #maxGamesPerRunner="ngModel">
              </div>
              <p class="control">
                <button type="button" class="button">
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="marathon.unlimitedGames" name="unlimitedGames"
                           style="margin-right: 0.25rem">{{'marathon.settings.unlimited' | translate}}
                  </label>
                </button>
              </p>
            </div>
            <div *ngIf="maxGamesPerRunner.invalid">
              <p class="help is-danger"
                 *ngIf="maxGamesPerRunner.errors.minNumber">{{'marathon.settings.maxGamesPerRunner.error.min' |
                translate}}</p>
              <p class="help is-danger" *ngIf="maxGamesPerRunner.errors.required">
                {{ 'marathon.settings.maxGamesPerRunner.error.required' | translate}}
              </p>
            </div>
          </div>
          <div class="column">
            <label class="label">{{'marathon.settings.maxCategoriesPerGame.label' | translate}}</label>
            <div class="field has-addons">
              <div class="control is-expanded">
                <input class="input"
                       [ngClass]="{'is-danger': maxCategoriesPerGame.invalid}"
                       type="number"
                       [disabled]="marathon.selectionDone || marathon.unlimitedCategories"
                       [(ngModel)]="marathon.maxCategoriesPerGame"
                       name="maxCategoriesPerGame"
                       appMinNumberValidator="1"
                       appMaxNumberValidator="10"
                       required
                       step="1"
                       #maxCategoriesPerGame="ngModel">
              </div>
              <p class="control">
                <button type="button" class="button">
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="marathon.unlimitedCategories" name="unlimitedCategories"
                           style="margin-right: 0.25rem">{{'marathon.settings.unlimited' | translate}}
                  </label>
                </button>
              </p>
            </div>
            <div *ngIf="maxCategoriesPerGame.invalid">
              <p class="help is-danger"
                 *ngIf="maxCategoriesPerGame.errors.minNumber">
                {{'marathon.settings.maxCategoriesPerGame.error.min' | translate}}
              </p>
              <p class="help is-danger" *ngIf="maxCategoriesPerGame.errors.maxNumber">
                {{'marathon.settings.maxCategoriesPerGame.error.max' | translate}}
              </p>
              <p class="help is-danger" *ngIf="maxCategoriesPerGame.errors.required">
                {{'marathon.settings.maxCategoriesPerGame.error.required' | translate}}
              </p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">{{'marathon.settings.multiplayer.label' | translate}}</label>
              <div class="control is-flex">
                <span style="margin-right: 0.5rem">{{'marathon.settings.multiplayer.forbidden' | translate}}</span>
                <nwb-switch [(ngModel)]="marathon.hasMultiplayer"
                            name="hasMultiplayer"
                            [disabled]="marathon.selectionDone">
                  <span>{{'marathon.settings.multiplayer.allowed' | translate}}</span>
                </nwb-switch>
              </div>
            </div>
          </div>
          <div class="column">
            <label class="label">{{'marathon.settings.maxNumberOfScreens.label' | translate}}</label>
            <div class="field">
              <div class="control">
                <input class="input"
                       [ngClass]="{'is-danger': maxNumberOfScreens.invalid}"
                       type="number"
                       [disabled]="marathon.selectionDone && !marathon.hasMultiplayer"
                       [(ngModel)]="marathon.maxNumberOfScreens"
                       name="maxNumberOfScreens"
                       appMinNumberValidator="1"
                       required
                       step="1"
                       #maxNumberOfScreens="ngModel">
              </div>
            </div>
            <p class="help">{{'marathon.settings.maxNumberOfScreens.help' | translate}}</p>
            <div *ngIf="maxNumberOfScreens.invalid">
              <p class="help is-danger"
                 *ngIf="maxNumberOfScreens.errors.minNumber">{{'marathon.settings.maxNumberOfScreens.error.min' |
                translate}}
              </p>
              <p class="help is-danger" *ngIf="maxNumberOfScreens.errors.required">
                {{'marathon.settings.maxNumberOfScreens.error.required' | translate}}
              </p>
            </div>
          </div>
        </div>
        <div class="columns is-multiline">
          <div class="column">
            <div class="field">
              <label class="label">{{'marathon.settings.emulatorAuthorized.label' | translate}}</label>
              <div class="control">
                <nwb-switch [(ngModel)]="marathon.emulatorAuthorized"
                            name="emulatorAuthorized"
                            [disabled]="marathon.selectionDone">
                  <span>{{'marathon.settings.emulatorAuthorized.allowed' | translate}}</span>
                </nwb-switch>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">{{'marathon.settings.videoRequired.label' | translate}}</label>
              <div class="control">
                <nwb-switch [(ngModel)]="marathon.videoRequired"
                            name="videoRequired"
                            [disabled]="marathon.selectionDone">
                  <span>{{'marathon.settings.videoRequired.allowed' | translate}}</span>
                </nwb-switch>
              </div>
            </div>
          </div>
        </div>
        <h1 class="title">{{ 'marathon.settings.customFields.title' | translate}}</h1>
        <p>{{ 'marathon.settings.customFields.description1' | translate}}</p>
        <p>{{ 'marathon.settings.customFields.description2' | translate}}</p>
        <button type="button" class="button is-info is-pulled-right" style="margin-bottom: 1rem"
                (click)="addQuestion('SUBMISSION')">{{ 'marathon.settings.customFields.add' | translate}}
        </button>
        <table class="table is-fullwidth is-striped" *ngIf="submissionsQuestions?.length > 0">
          <thead>
          <tr>
            <th>{{ 'marathon.settings.customFields.label.title' | translate}}</th>
            <th>{{ 'marathon.settings.customFields.label.type' | translate}}</th>
            <th>{{ 'marathon.settings.customFields.required.title' | translate}}</th>
            <th>{{ 'marathon.settings.customFields.action.title' | translate}}</th>
          </tr>
          </thead>
          <tbody cdkDropList
                 [cdkDropListData]="submissionsQuestions"
                 (cdkDropListDropped)="drop($event)">
          <ng-template ngFor let-question [ngForOf]="submissionsQuestions" let-i="index" [ngForTrackBy]="trackByIdx">
            <tr cdkDrag>
              <td [attr.rowspan]="question.fieldType === 'SELECT' ? question.options.length + 1 : 1">
                <input class="input"
                       type="text"
                       [(ngModel)]="question.label"
                       name="submission-label{{i}}"
                       [ngClass]="{'is-danger': submissionLabel.invalid}"
                       required
                       maxlength="50"
                       #submissionLabel="ngModel">
                <p class="help is-pulled-right">{{question.label?.length}}/50</p>
                <div *ngIf="submissionLabel.invalid">
                  <p class="help is-danger" *ngIf="submissionLabel.errors.required">
                    {{'marathon.settings.customFields.label.error.required' | translate}}</p>
                </div>
              </td>
              <td>
            <span class="select">
              <select [(ngModel)]="question.fieldType" name="submission-fieldType{{i}}"
                      (ngModelChange)="questionTypeChange('SUBMISSION', i, question.fieldType)">
                <option value="TEXT">{{ 'marathon.settings.customFields.type.option.text' | translate}}</option>
                <option value="SELECT">{{ 'marathon.settings.customFields.type.option.select' | translate}}</option>
                <option value="TEXTAREA">{{ 'marathon.settings.customFields.type.option.textArea' | translate}}</option>
                <option value="CHECKBOX">{{ 'marathon.settings.customFields.type.option.checkbox' | translate}}</option>
                <option value="FREETEXT">{{ 'marathon.settings.customFields.type.option.freetext' | translate}}</option>
              </select>
            </span>
              </td>
              <td>
                <nwb-switch [(ngModel)]="question.required" name="submission-required{{i}}"
                            [disabled]="question.fieldType === 'FREETEXT'"></nwb-switch>
              </td>
              <td>
                <fa-icon [icon]="faBars" cdkDragHandle class="is-pulled-right"></fa-icon>
                <a (click)="addOption('SUBMISSION', i)" style="margin-right: 0.4rem" *ngIf="question.fieldType ===
                  'SELECT'">
                  <fa-icon [icon]="faPlus"></fa-icon>
                </a>
                <a (click)="removeQuestion('SUBMISSION', i)">
                  <fa-icon [icon]="faTimes"></fa-icon>
                </a>
              </td>
            </tr>
            <ng-container *ngIf="question.fieldType === 'SELECT'">
              <tr *ngFor="let option of question.options; let j = index; trackBy: trackByIdx">
                <td>
                  <input class="input"
                         type="text"
                         [(ngModel)]="question.options[j]"
                         name="submission-option{{i}}-{{j}}"
                         [ngClass]="{'is-danger': submissionOptionInput.invalid}"
                         required
                         maxlength="50"
                         #submissionOptionInput="ngModel">
                  <p class="help is-pulled-right">{{option?.length}}/50</p>
                  <div *ngIf="submissionOptionInput.invalid">
                    <p class="help is-danger" *ngIf="submissionOptionInput.errors.required">
                      {{'marathon.settings.customFields.option.error.required' | translate}}</p>
                  </div>
                </td>
                <td></td>
                <td>
                  <a (click)="removeOption('SUBMISSION', i, j)">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </a>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="question.fieldType === 'FREETEXT'">
              <tr>
                <td colspan="3">
                  <textarea class="textarea"
                            [readOnly]="marathonService.isArchived()"
                            rows=5
                            maxlength="1000"
                            [(ngModel)]="question.description"
                            name="submission-questionDescription{{i}}"></textarea>
                  <p class="help is-pulled-right">{{question.description?.length}}/1000</p>
                  <p class="help">{{ 'marathon.settings.marathonDescription.help' | translate}}</p>
                </td>
              </tr>
            </ng-container>
          </ng-template>
          </tbody>
        </table>
      </div>
      <div [hidden]="active !== 'incentives'">
        <h1 class="title">{{'marathon.settings.incentivesTitle' | translate}}</h1>
        <div class="notification" *ngIf="env.sandbox === true">{{'marathon.settings.sandbox.warning' | translate}}</div>
        <div class="columns is-multiline">
          <div class="column is-half-desktop">
            <div class="field">
              <label class="label">{{ 'marathon.settings.donations.label' | translate}}</label>
              <div class="control">
                <nwb-switch [(ngModel)]="marathon.hasDonations" name="hasDonations" [disabled]="true">
                  <span>{{ 'marathon.settings.donations.hasDonations' | translate}}</span>
                </nwb-switch>
              </div>
            </div>
          </div>
          <div class="column is-half-desktop">
            <div class="field">
              <label class="label">{{ 'marathon.settings.donationsOpen.label' | translate}}</label>
              <div class="control">
                <nwb-switch [(ngModel)]="marathon.donationsOpen" name="donationsOpen" [disabled]="true">
                  <span>{{ 'marathon.settings.donations.donationsOpen' | translate}}</span>
                </nwb-switch>
              </div>
            </div>
          </div>
          <div class="column is-half-desktop">
            <div class="field">
              <label class="label">{{ 'marathon.settings.supportedCharity.label' | translate}}</label>
              <div class="control">
                <input class="input"
                       disabled
                       [ngClass]="{'is-danger': supportedCharity.invalid}"
                       type="text"
                       [(ngModel)]="marathon.supportedCharity"
                       name="supportedCharity"
                       [required]="marathon.hasDonations"
                       [disabled]="!marathon.hasDonations"
                       maxlength="100"
                       #supportedCharity="ngModel">
                <p class="help is-pulled-right">{{marathon.supportedCharity?.length}}/100</p>
              </div>
              <div *ngIf="supportedCharity.invalid">
                <p class="help is-danger"
                   *ngIf="supportedCharity.errors.required">{{'marathon.settings.supportedCharity.error.required' | translate}}</p>
                <p class="help is-danger"
                   *ngIf="supportedCharity.errors.maxlength">{{'marathon.settings.supportedCharity.error.max' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="column is-half-desktop">
            <div class="field">
              <label class="label">{{ 'marathon.settings.payee.label' | translate}}</label>
              <div class="control">
                <input class="input"
                       disabled
                       [ngClass]="{'is-danger': payee.invalid}"
                       type="email"
                       email
                       [(ngModel)]="marathon.payee"
                       name="payee"
                       [required]="marathon.hasDonations"
                       [disabled]="!marathon.hasDonations"
                       maxlength="100"
                       #payee="ngModel">
                <p class="help is-pulled-right">{{marathon.payee?.length}}/100</p>
                <p class="help">{{ 'marathon.settings.payee.help' | translate}}</p>
              </div>
              <div *ngIf="payee.invalid">
                <p class="help is-danger"
                   *ngIf="payee.errors.required">{{'marathon.settings.payee.error.required' | translate}}</p>
                <p class="help is-danger"
                   *ngIf="payee.errors.maxlength">{{'marathon.settings.payee.error.max' | translate}}</p>
                <p class="help is-danger"
                   *ngIf="payee.errors.maxlength">{{'marathon.settings.payee.error.email' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="column is-half-desktop">
            <div class="field">
              <label class="label">{{ 'marathon.settings.currencyIso.label' | translate}}</label>
              <div class="control">
                <input class="input"
                       [ngClass]="{'is-danger': currencyIso.invalid}"
                       type="text"
                       [(ngModel)]="marathon.donationCurrency"
                       name="currencyIso"
                       [required]="marathon.hasDonations || marathon.hasIncentives"
                       [disabled]="!marathon.hasDonations && !marathon.hasIncentives"
                       maxlength="3"
                       #currencyIso="ngModel">
                <p class="help is-pulled-right">{{marathon.donationCurrency?.length}}/3</p>
                <p class="help">{{ 'marathon.settings.currencyIso.help' | translate}}</p>
              </div>
              <div *ngIf="currencyIso.invalid">
                <p class="help is-danger"
                   *ngIf="currencyIso.errors.required">{{'marathon.settings.currencyIso.error.required' | translate}}</p>
                <p class="help is-danger"
                   *ngIf="currencyIso.errors.maxlength">{{'marathon.settings.currencyIso.error.max' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="column is-half-desktop">
            <div class="field">
              <label class="label">{{ 'marathon.settings.donationWebhook.label' | translate}}</label>
              <div class="control" [ngClass]="{'is-loading': loadDonationWebhookCheck}">
                <input class="input"
                       [ngClass]="{'is-danger': donationWebhook.invalid || !isWebhookOnline}"
                       type="text"
                       [(ngModel)]="marathon.donationWebhook"
                       name="donationWebhook"
                       [disabled]="!marathon.hasDonations && !marathon.hasIncentives || true"
                       maxlength="200"
                       #donationWebhook="ngModel"
                       (ngModelChange)="checkWebhook($event)">
                <p class="help is-pulled-right">{{marathon.donationWebhook?.length}}/200</p>
                <p class="help">{{ 'marathon.settings.donationWebhook.help' | translate}}</p>
              </div>
              <div *ngIf="donationWebhook.invalid">
                <p class="help is-danger"
                   *ngIf="donationWebhook.errors.maxlength">{{'marathon.settings.donationWebhook.error.max' | translate}}</p>
              </div>
              <div *ngIf="!isWebhookOnline">
                <p class="help is-danger">{{'marathon.settings.donationWebhook.error.offline' | translate}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">{{ 'marathon.settings.incentives.label' | translate}}</label>
              <div class="control">
                <nwb-switch [(ngModel)]="marathon.hasIncentives" name="hasIncentives">
                  <span>{{ 'marathon.settings.incentives.hasIncentives' | translate}}</span>
                </nwb-switch>
              </div>
            </div>
          </div>
        </div>
        <fieldset [disabled]="!marathon.hasDonations">
          <h1 class="title">{{ 'marathon.settings.customFields.title' | translate}}</h1>
          <p>{{ 'marathon.settings.customFields.description1' | translate}}</p>
          <p>{{ 'marathon.settings.customFields.description2' | translate}}</p>
          <button type="button" class="button is-info is-pulled-right" style="margin-bottom: 1rem"
                  (click)="addQuestion('DONATION')">{{ 'marathon.settings.customFields.add' | translate}}
          </button>
          <table class="table is-fullwidth is-striped" *ngIf="donationsQuestions?.length > 0">
            <thead>
            <tr>
              <th>{{ 'marathon.settings.customFields.label.title' | translate}}</th>
              <th>{{ 'marathon.settings.customFields.label.type' | translate}}</th>
              <th>{{ 'marathon.settings.customFields.required.title' | translate}}</th>
              <th>{{ 'marathon.settings.customFields.action.title' | translate}}</th>
            </tr>
            </thead>
            <tbody cdkDropList
                   [cdkDropListData]="donationsQuestions"
                   (cdkDropListDropped)="drop($event)">
            <ng-template ngFor let-question [ngForOf]="donationsQuestions" let-i="index" [ngForTrackBy]="trackByIdx">
              <tr cdkDrag>
                <td [attr.rowspan]="question.fieldType === 'SELECT' ? question.options.length + 1 : 1">
                  <input class="input"
                         type="text"
                         [(ngModel)]="question.label"
                         name="donation-label{{i}}"
                         [ngClass]="{'is-danger': donationLabel.invalid}"
                         required
                         maxlength="50"
                         #donationLabel="ngModel">
                  <p class="help is-pulled-right">{{question.label?.length}}/50</p>
                  <div *ngIf="donationLabel.invalid">
                    <p class="help is-danger" *ngIf="donationLabel.errors.required">
                      {{'marathon.settings.customFields.label.error.required' | translate}}</p>
                  </div>
                </td>
                <td>
                    <span class="select">
                      <select [(ngModel)]="question.fieldType" name="donation-fieldType{{i}}"
                              (ngModelChange)="questionTypeChange('DONATION', i, question.fieldType)">
                        <option value="TEXT">{{ 'marathon.settings.customFields.type.option.text' | translate}}</option>
                        <option value="SELECT">{{ 'marathon.settings.customFields.type.option.select' | translate}}</option>
                        <option value="TEXTAREA">{{ 'marathon.settings.customFields.type.option.textArea' | translate}}</option>
                        <option value="CHECKBOX">{{ 'marathon.settings.customFields.type.option.checkbox' | translate}}</option>
                        <option value="FREETEXT">{{ 'marathon.settings.customFields.type.option.freetext' | translate}}</option>
                      </select>
                    </span>
                </td>
                <td>
                  <nwb-switch [(ngModel)]="question.required" name="donation-required{{i}}"
                              [disabled]="question.fieldType === 'FREETEXT'"></nwb-switch>
                </td>
                <td>
                  <fa-icon [icon]="faBars" cdkDragHandle class="is-pulled-right"></fa-icon>
                  <a (click)="addOption('DONATION', i)"
                     style="margin-right: 0.4rem"
                     *ngIf="question.fieldType === 'SELECT'">
                    <fa-icon [icon]="faPlus"></fa-icon>
                  </a>
                  <a (click)="removeQuestion('DONATION', i)">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </a>
                </td>
              </tr>
              <ng-container *ngIf="question.fieldType === 'SELECT'">
                <tr *ngFor="let option of question.options; let j = index; trackBy: trackByIdx">
                  <td>
                    <input class="input"
                           type="text"
                           [(ngModel)]="question.options[j]"
                           name="donation-option{{i}}-{{j}}"
                           [ngClass]="{'is-danger': donationOptionInput.invalid}"
                           required
                           maxlength="50"
                           #donationOptionInput="ngModel">
                    <p class="help is-pulled-right">{{option?.length}}/50</p>
                    <div *ngIf="donationOptionInput.invalid">
                      <p class="help is-danger" *ngIf="donationOptionInput.errors.required">
                        {{'marathon.settings.customFields.option.error.required' | translate}}</p>
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <a (click)="removeOption('DONATION', i, j)">
                      <fa-icon [icon]="faTimes"></fa-icon>
                    </a>
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="question.fieldType === 'FREETEXT'">
                <tr>
                  <td colspan="3">
                  <textarea class="textarea"
                            [readOnly]="marathonService.isArchived()"
                            rows=5
                            maxlength="1000"
                            [(ngModel)]="question.description"
                            name="donation-questionDescription{{i}}"></textarea>
                    <p class="help is-pulled-right">{{question.description?.length}}/1000</p>
                    <p class="help">{{ 'marathon.settings.marathonDescription.help' | translate}}</p>
                  </td>
                </tr>
              </ng-container>
            </ng-template>
            </tbody>
          </table>
        </fieldset>
      </div>
      <div [hidden]="active !== 'dangerZone'">
        <h1 class="title">{{ 'marathon.settings.dangerZone' | translate}}</h1>
        <div class="field">
          <div class="control" *ngIf="!deleteConfirm">
            <button class="button is-danger" type="button" (click)="deleteConfirm = true">
              {{ 'marathon.settings.delete.action' | translate}}
            </button>
          </div>
          <div class="control" *ngIf="deleteConfirm">
            <p class="help">{{ 'marathon.settings.delete.confirmText' | translate}}</p>
            <input class="input"
                   type="text"
                   [(ngModel)]="deleteShortname"
                   name="deleteShortname" style="margin-bottom: 1rem">
            <br>
            <button class="button is-primary" type="button"
                    [disabled]="deleteShortname !== marathon.id" (click)="marathonService.delete(deleteShortname)">
              {{'action.confirm' | translate}}
            </button>
            <button class="button is-danger" type="button" (click)="deleteConfirm = false"
                    style="margin-left: 1rem">
              {{'action.cancel' | translate}}
            </button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
